div{
  border: 2px solid red;
  margin: auto;
  text-align: center;
  padding: 10px; 
}
p{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
  background-color: blue;
}
button{
  border-radius: 5px;
  border-color: blue;
  background-color: yellow;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}