.container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 10px;
}

.left{
    display: grid;
    grid-template-rows: auto auto auto auto;
    column-gap: 20px;
    row-gap: 10px;
    border-right: 2px solid black;
}

.right{
    display: grid;
    grid-template-rows: auto auto auto auto;
    column-gap: 20px;
    row-gap: 10px;
    border-left: 2px solid black;
}

