body {
    background-color: #F5F5F5;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.FormLogin {
    position: relative;
    display: grid;
}

.MainBox {
    position: absolute;
    background-color: #FFFF99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 480px;
    border: 5px solid black;
    /* padding: 50px;
    margin: 20px; */
    border-radius: 15px 15px 0px 0px;
}

.MainBox:hover {
    box-shadow: 5px 10px #888888;
}

input {
    text-align: center;
    color: royalblue;
    font-size: xx-large;
}
button {
    text-align: center;
    color: royalblue;
    font-size: xx-large;
}

.AlertBox {
    position: relative;
    width: 355px;
    height: 40px;
    color: rgba(15, 9, 9, 0.479);
    justify-content: center;
    font-weight: bold;
    background-color: rgb(238, 11, 11);
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(248, 59, 59, 0.479);
    display: none;
    animation-name: AlertBoxAnamition;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes AlertBoxAnamition {
    0% {
        background-color: red;
        box-shadow: 3px 3px rgba(248, 59, 59, 0.479);
        color: black;
    }
    25% {
        background-color: rgb(211, 119, 54);
        box-shadow: 3px 3px rgb(238, 181, 141);
        color: red;
    }
    50% {
        background-color: rgb(211, 165, 13);
        box-shadow: 3px 3px rgba(236, 169, 120, 0.897);
        color: yellow;
    }
    100% {
        background-color: rgb(211, 119, 54);
        box-shadow: 3px 3px rgb(144, 135, 128);
        color: white;
    }
}