.contact{
  
    height: auto;
    border-radius: 5px;
    box-shadow: 4px 4px 8px gray;
    padding: 10px;
   
    margin: 10px;
    display: flex;
}


.contact img{
   
    border-radius: 50%;
    width: 100px;
    height: 100px;

}



.wrapper{
    margin-left: 25px;
  
    display: flex;
    flex-direction:column ;
    
}

.wrapper h2{
    margin:0px;
}

