* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.twitter-page-container {
    background-color: #324253;
    min-height: 100vh;
    width: 800px;
    margin: 0 auto;
    display: flex;
}


.side-nav {
    flex: 20%;
    border-right: 1px solid white;

}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.main {
    flex: 80%
}


.icon img {
    width: 50px;
    height: 50px;
}


.nav-title {
    border-bottom: 1px solid white;
}

.nav-title h1 {
    color: #fff;
    font-weight: bold;
    margin-left: 2rem;
}

.post-box {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-bottom: 1px solid white;
    align-items: center;
}

.post-icon img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.post-box .post-btn {
    align-self: flex-end;
}

#posts {}


.post {
    color: white;
    padding: 1rem;
    border-bottom: 1px solid #fff;
}

.post-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.post-content {}

.post-content p {}