body{
  font-family: 'Do Hyeon', sans-serif;
}

.chart{
  width: 80vw;
  height: 80vh;
  background-color: rgb(255, 244, 223);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, 7%);
}

.chart__column{
  text-align: center;
  
}

.chart__innerColumn{
  height: 100%;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
  background: rgb(157,157,157);
  background: linear-gradient(90deg, rgba(157,157,157,1) 0%, rgba(236,236,236,1) 51%, rgba(162,162,162,1) 100%);
}

.chart__label{
  padding: 4px;
  background: wheat;
  margin-top: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.418);
  border-radius: 5px;
  border:4px solid rgb(218, 198, 161);
  font-size: 4vw;
}

