

.chart{
  width: 80vw;
  height: 80vh;
 
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, 7%);
}

.chart__column{
  border-radius: 10px 10px 0px 0px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  background: rgb(157,157,157);
  background: linear-gradient(90deg, rgba(157,157,157,1) 0%, rgba(236,236,236,1) 51%, rgba(162,162,162,1) 100%);
}

.chart__innerColumn{
  height: 100%;
}