.container {
    display: grid;
    grid-template-columns:  auto auto auto ;
    grid-template-rows: auto auto auto;
    column-gap: 5px;
    row-gap: 10px;
}

.item {
    background-color: royalblue;
}
