.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width:100vw;
    background-image: url('https://d17fnq9dkz9hgj.cloudfront.net/breed-uploads/2018/09/dog-landing-hero-lg.jpg?bust=1536935129&width=1080');
    transition: all 0.5s;
    
}

@media only screen and (max-width: 768px) {
    .container{
       
        grid-template-columns: repeat(2,1fr);
        background-image: url('https://ychef.files.bbci.co.uk/976x549/p07zn7p7.jpg');
        transform: rotate(45deg);
       
    }
}

@media only screen and (max-width: 420px) {
    .container{
       
        grid-template-columns: repeat(1,1fr);
        background-image: url('https://i.guim.co.uk/img/media/20098ae982d6b3ba4d70ede3ef9b8f79ab1205ce/0_0_969_1005/master/969.jpg?width=700&quality=85&auto=format&fit=max&s=470657ebd2a0e704df88997d393aea15');
       transform: rotate(90deg);
    }
}



.item>img{
 width: 100%;
 
}