.cards {
    margin-top: 30px;
    margin-bottom: 20px;
    margin: auto; 
    width: fit-content; 
}

.container {
    position: relative;
    display: flex;
    width: 350px;
    top: 20px;
    background-color: whitesmoke;
    border-radius: 20px ;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.418);    
}

.cart-image img {
    position: relative;
    height: 100px;
    width: 100px;
    left: 20px;
    top: 35px;
}

.data{
    padding: 5px;
    position: relative;
    left: 80px;
    font-size: small;
    font-family: 'Rowdies', cursive;
}

hr {
    width: 100px;
    margin: 10px;
}

.btn {
    
    /* border-top-right-radius: 5px; */
    /* border-top-left-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    border-radius: 6px;
    position: absolute;
    background-color: black;
    color: white;
    height: 25px;
    /* left: 90%; */
    right: -10px;
    top: -10px;
    width: 60px;
    text-align: center;
    padding-top: 2px;

}
.afterDis{
    margin-top: 1px;
    color: blue;
}

h5 {
    margin: 2px;
}
.hh3 {
    margin-left: 30%;
    left: 30%;
    border-bottom: 1px solid red;
    width: fit-content;
    font-family: 'Open Sans Condensed', sans-serif;
}
