#jokes{
    color: blue;
    font: bold;
    font-size: x-large;
}

#firstP{
    color: darkgreen;
    font: bold;
    font-size: xx-large;
}

body{
    background-color: lightgoldenrodyellow;
}