
#addPannel{
   grid-area: sidebar;
   height: 100vh;
   height: fit-content;
   background-color: gray;
   width: 80%;
   margin-left: 10%;
}
#signOut{
  background-color: blueviolet;
  color: white;
}
#signOut:hover{
  background-color: #3e8e41;
  color: white;
  opacity:1.2;
 }
.container:hover {
  background-color: lightblue;
  }

.deleteButton{
  opacity: 0.6;
  transition: 0.3s;
  background-color: red;
}
.deleteButton:hover{
  opacity: 1;
}
.editButton{
  opacity: 0.6;
  transition: 0.3s;
  background-color: seagreen;
}
.editButton:hover{opacity: 1;}
.editPrice{
  display: block;
  width: 50%;
}
.adminButtons{
  display: block;
  position: relative;
 left: 50%;
 top: 35px;
}

#addButton{
  background-color: blueviolet;
  color: white;
}
#addButton:hover{
  background-color: #3e8e41;
  color: white;
  opacity:1.2;
}
/*
.cart-image img {
  position: relative;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 35px;
}
.data{
  padding: 5px;
  position: relative;
  left: 30%;
  font-size: small;
  font-family: 'Rowdies', cursive;
}
*/

 /* #MainWrapper{
   hereeeee@@@@@@
  display: grid;
  grid-template-columns: 15vw auto  auto 15vw;
  grid-template-rows: 30% auto;
  width: auto;
  height: 100vh; 
  background-color: #1F2605;
  
  grid-template-areas: 
  "header header header header"
  "sort main main sidebar";
}  */


/* #MainWrapper{
  display: grid;
  grid-template-columns: 15vw auto  auto 15vw;
  grid-template-rows: 30% auto;
  width: auto;
  height: 100vh; 
  background-color: gray;
  
  grid-template-areas: 
  "header header header header"
  "sort main main sidebar";
 
} */
/* 
#LogInPannel{
  grid-area: sidebar;
  z-index: 10;
  border: 1px solid black;
  width: 100%;
  height: fit-content;
  margin-top: 50px; 
}

.password{
  margin-top: 10px;
}
.user{
  margin-top: 0px;
}
.Signin{
  margin-top: 10px;
} */
/*
#Header{
  background-color: black;
  grid-area: header;
  text-align: center;
  color: white;
  
}
#headerTitle{
  margin-top: 0vh;
  color: white;
  
}
#currentSales{
  animation: blinker 2s linear infinite;
  color: red;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#SortingOptions{
  background-color: gray;
  height: fit-content;
  grid-area: sort;
  
  
}

.sortingButtons{
  background-color: blueviolet;
  width: 90%;
  height: 50px;
  opacity: 0.8;
  margin-bottom: 20px;
  color: white;
 
}
.sortingButtons:hover  {
  background-color: #3e8e41;
  color: white;
  opacity:1.2;
  
}  

  
  


#ShopContent{
  grid-area: main;
  background-color: gray;
} */








/* .container {
  
  display: flex;
  height: 200px;
  width: 100%;
  top: 20px;
  background-color: whitesmoke;
  border-radius: 20px ;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.418); 
    
} */