
#LogInPannel{
  grid-area: sidebar;
  z-index: 10;
   background-color: #1F2605;
   width: 80%;
   margin-left: 10%;
}

.password{
  margin-top: 10px;
}
.user{
  margin-top: 0px;
}
.Signin{
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
}
.Signin:hover{
  background-color: #3e8e41;
  color: white;
  opacity:1.2;
}

#Header{
  background-color: #D6CE15;
  grid-area: header;
  text-align: center;
  color: white;
   border-bottom-left-radius: 20%;
   border-bottom-right-radius: 20%;
  
}
#headerTitle{
  margin-top: 0vh;
  color: white;
  
}
#currentSales{
  animation: blinker 2s linear infinite;
  color: red;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#SortingOptions{
  background-color: #1F2605;
  height: fit-content;
  grid-area: sort;
  justify-content: space-evenly;
  
}
.sortingButtons{
  background-color: #53900F;
  width: 90%;
  height: 50px;
  opacity: 0.8;
  margin-bottom: 20px;
  color: white;
 
}
.sortingButtons:hover  {
  background-color: #1F6521;
  color: white;
  opacity:1.2;
  
} 
.headerButtons{
background-color: #53900F;
color: white;
opacity: 0.8;
  
}
.headerButtons:hover{
  background-color: #3e8e41;
  opacity:1.2;
}


#ShopContent{
  grid-area: main;
  background-color: #1F2605;
}
#allbuttonDesign{
margin-top: 15px;
}










.container {
  
  display: flex;
  height: 200px;
  width: 100%;
  top: 20px;
  background-color: #A4A71E;
  border-radius: 20px ;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.418); 
    
}
.container:hover {
  background-color: lightgray;
  }

.deleteButton{
  
  background-color: red;

}
.editButton{
  background-color: seagreen;
}
.editPrice{
  display: none;
  width: 50%;
}
.adminButtons{
  display: none;
  position: relative;
 left: 50%;
 top: 35px;
}

.cart-image img {
  position: relative;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 35px;
}
.cart-image img:hover{
  transform: scale(1.6);
}

.data{
  padding: 5px;
  position: relative;
  left: 30%;
  font-size: small;
  font-family: 'Rowdies', cursive;
}