.story {
  display: flex;
  flex-direction: row;
}

.oneStory {
  display: flex;
  flex-direction: column;
}

.oneStory img {
  border: 1px solid rgb(241, 157, 87);
  border-radius: 50%;
  padding: 5px;
  width: 60px;
  height: 60px;
  margin-top: 20px;
}

/* 
#name {
  font-weight: bold;
} */

/* .msgArea {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
} */

/* .data {

  width: 80px;
  color: green;
  font-size: large;
  font-weight: bold;
} */

/* #count {
  border: 1px ridge green;
  border-radius: 20px 20px;
  color: white;
  background-color: forestgreen;
  text-align: center;
  width: 30px;
} */
