.container {
  background-color: silver;
  width: 300px;
  height: 180px;
  border-radius: 32px;
  margin: auto;
  flex-direction: row;
  display: flex;
  margin-bottom: 20px;
  position: relative;

  /* 
  justify-content: center; */
}

.beforeCard {
  width: 300px;

  border-radius: 32px;
  margin: auto;
  flex-direction: row;
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
.insideCard {
  background-color: silver;
}

.insideCard > img {
  width: 60px;
  padding: 20px;
}

#horzLine {
  border-bottom: 2px solid gray;
}

.button {
  background-color: black;
  color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  position: absolute;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  right: -5px;
}
