.container{
    background-color: hotpink;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto ;
    column-gap: 20px;
    row-gap: 10px;
    text-align: center;

}
body {
    color: blue;
    font-size: large;
    font-weight: bold;
  }