body{
  background: rgb(241, 241, 241);
}
.App {
  text-align: center;
}

.wow {
  color: chocolate;
}

.news-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

@media only screen and (max-width: 600px) {
  .news-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

button{
  display: flex;
  align-items: center;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
}

button:hover{
  background-color: rgb(201, 201, 201);
}

button img{
  width: 20px;
  margin-right: 10px;
  
}