*{
    padding: 0;
    margin: 0 ;

}

body{
    background: url(http://www.overseasstudentsconsulting.com/wp-content/uploads/Students2.jpg) no-repeat;
    background-size:cover ;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: sans-serif;

}

.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background: #dedede;
    border-radius: 5px;
}
.lable{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: #130f40;

}

.register_form{
    padding:20px 40px;

}

.font{
    font-size: 18px;
    color: #130f40;
    margin:5px 0;

}

.register_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid silver;

}

/* .font2{
    font-size: 18px;
    color: #130f40;
    margin:5px 0;
    margin-top: 30px;
} */

.register_form button{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: wight;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: #1A237E;
    border-radius: 3px;
    border: 1px solid #3949AB;
    transition: .5s;
}

.register_form button:hover{
    background:#151c6a ;

}

/* #user_error,
#pass_error {
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #c62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9696;
    display: none;
} */