.box{
    position: relative;
    width: 200px;
    height: 200px;
    color: white;
    background-color: gray;
    text-align: center;
    margin: auto;
    border-radius: 10%;
}

.even{
    background-color: red;
}

.odd{
    background-color: blue;
}
.isMeTrue{
    background-color: aquamarine;
    left: 150px;
    

}
.isMeFalse{
    background-color: blue;
    left: -150px;
    
}