body{
  background-color: #ECE5DD;
}

.message-wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.all-wrapper{
  display: grid;
  grid-template-rows: auto auto;
}

.updated-boxes{
  display: grid;
  grid-template-areas: "";
}
