body{
  background-color: #ECE5DD;
}

.message-wrapper{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.all-wrapper{
  display: grid;
}


.ronaldo{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: "ronaldo . . .";
}

.ronaldo img{
  grid-area: ronaldo;
}

.messi{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: ". messi . .";
}

.messi img{
  grid-area: messi;
}

.ibra{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: ". . ibra .";
}

.ibra img{
  grid-area: ibra;
}

.ramos{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-areas: ". . . ramos";
}

.ramos img{
  grid-area: ibra;
}