.body{
  background-color: lightgray;
}
#footBallField{
  width: 650px;
  height: 900px;
  border: 4px solid white;
  background-color: green;
  position: relative;
  
}
.upperBox{
margin: 0 auto;
width: 400px;
height: 150px;
border-bottom: 4px solid white;
border-left: 4px solid white;
border-right: 4px solid white;

}
.upperBox2{
margin: 0 auto;
width: 200px;
height: 50px;
border-bottom: 4px solid white;
border-left: 4px solid white;
border-right: 4px solid white;

}
.bottomBox{
margin: 0 ;
width: 400px;
height: 150px;
position: absolute;
bottom: 0%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, 0%);
border-top: 4px solid white;
border-left: 4px solid white;
border-right: 4px solid white;

}
.bottomBox2{
  margin: 25% auto;
  width: 200px;
  height: 50px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-right: 4px solid white;
}
#mainCircle{
  
  margin:0 ;
  width: 200px;
  height: 200px;
  
  top: 50%;
  border: 4px solid white;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  


}
.smallerCircle{
  margin:0;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
}
.middleLine{
  position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 4px;
    
    background-color: white;
}
.rightBarInfo{
height: 100%;
width: 50px;

right: -60px;
position: absolute;

}
#player1Result{
width: 100%;
height: 10%;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
background-color: red;
font-family: Tahoma, Geneva, sans-serif;
position: absolute;
}


#player2Result{
  width: 100%;
height: 10%;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
background-color: blue;
position: absolute;
bottom: 0%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, 0%);
font-family: Tahoma, Geneva, sans-serif;
}

.rightBarButtons{
  position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-40%, -50%);
}


#startButton{
  background-color: yellow;
  color: black;

}




#popUp{
  color: black;

font-size: 140px;
z-index: 20;
position: absolute;
top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#winnerpopUp1{
  color: black;

  font-size: 100px;
  z-index: 20;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
      transform: translate(-50%, -50%);
}


#winnerpopUp2{
  color: black;

  font-size: 100px;
  z-index: 20;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
      transform: translate(-50%, -50%);
}
#winnerpopUpResult{
  z-index: 20;
  margin-top: 100px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
}


#popUpResult{
  position: absolute;
top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}



#ball{
position: absolute;
width: 40px;
height: 40px;
display: none;
z-index: 20;




}
#shoppingBag{
position: absolute;
width: 40px;
height: 40px;
display: none;
z-index: 20;
}

#malePlayer1{
  
  position: absolute;
width: 40px;
height: 40px;
display: none;
z-index: 20;
}
#malePlayer2{
  position: absolute;
width: 40px;
height: 40px;
display: none;
z-index: 20;
}
#femalePlayer1{
  position: absolute;
width: 40px;
height: 40px;
display: none;
z-index: 20;
}
#femalePlayer2{
  position: absolute;
width: 40px;
height: 40px;
display: none;
z-index: 20;

}

#submitButton{
  background-color: green; 
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  width: 90%;
  height:  fit-content;
  font-size: 12px;
  margin: 4px 2px;
  

}
#restartButton{
  background-color: red; 
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  width: 90%;
  height:  fit-content;
  font-size: 12px;
  margin: 4px 2px;
}


