body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100%;
    background: #F1F1F1;
    background: #E37F00;
    ;
    border:solid black;
}

#creatGroup{
    background-color: #E37F00;
    border:solid black ;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#groupsize{
    position: relative;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: transparent;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
    transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
} 